@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ul{
  display: inline-flex; 
  overflow: hidden; 
  position: relative; 
  padding: 0.125rem; 
  margin-right: 0.5rem; 
  margin-bottom: 0.5rem; 
  background-image:linear-gradient(to bottom right, var(--tw-gradient-stops)); 
  background-color: #7C3AED; 
  background-color: #3B82F6; 
  color: #111827; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
  justify-content: center; 
  align-items: center; 
  border-radius: 0.5rem; 
  
}
.ul:hover {
  color: #ffffff; 
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
